<app-navbar [showAuthButtons]="false"></app-navbar>
<app-sidebar (collapsedChange)="onSidebarCollapse($event)"></app-sidebar>
<div class="visualization-layout">
  @if (reaction) {
    <app-leftpanel [reaction]="reaction" [currentStepIndex]="currentStepIndex" (stepChange)="onStepChange($event)"></app-leftpanel>
    <app-maincanvas [reaction]="reaction" [currentStepIndex]="currentStepIndex" [step]="currentStep" (stepChange)="onStepChange($event)"></app-maincanvas>
  } @else {
    <div class="loading">Loading reaction...</div>
  }
</div>
