<section class="hero notebook-bg">
    <div class="hero-welcome">
      <span>WELCOME TO REACTIONLAB</span>
    </div>
    <div class="hero-title">
      <h1>teaching effectively,</h1>
      <h1>transforming chemistry,</h1>
      <h1>inspiring tomorrow</h1>
    </div>
    <div class="hero-buttons">
      <a (click)="onStartExploring()" id="startExploringBtn">
        Start exploring
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="arrow-icon">
          <line x1="5" y1="12" x2="19" y2="12"></line>
          <polyline points="12 5 19 12 12 19"></polyline>
        </svg>
      </a>
    </div>
</section>
